<button mat-raised-button color="primary" matBadge="2" matBadgeColor="accent">
  Botão com Badge
</button>
  <mat-icon matBadge="10" matBadgeColor="primary" matBadgeSize="small">message</mat-icon>
  <span matBadge="1" matBadgePosition="before">Texto com badge antes</span>

  <!-- Texto com badge -->

<span matBadge="4" matBadgeOverlap="false">Texto com badge</span>


<!-- Button com badge -->

<button

  mat-raised-button color="primary"

  matBadge="8"

  matBadgePosition="above"

  matBadgeColor="accent"

  matBadgeDescription="Badge com valor 8">

  Clique!

</button>


<!-- Ícone com badge -->

<mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
