<mat-toolbar>

  <h1>Conteúdo do toolbar!</h1>

</mat-toolbar>
<br>
<app-mat-toolbar-color></app-mat-toolbar-color>
<br>
<app-mat-toolbar-row></app-mat-toolbar-row>
<br>
<app-mat-menu></app-mat-menu>
<br>
<app-sidebar></app-sidebar>
<br>
<app-icons></app-icons>
<br>
<app-button></app-button>
<br>
<app-badges></app-badges>
<br>
<app-progress-spinner></app-progress-spinner>
<br>
<app-progress-bar></app-progress-bar>
<br>
<app-cards></app-cards>
<br>
<app-lists></app-lists>
<br>
<app-expansion-panel></app-expansion-panel>
<br>
<app-tabs></app-tabs>
