<mat-list>

  <mat-list-item>Item 1</mat-list-item>

  <mat-list-item>Item 2</mat-list-item>

  <mat-list-item>Item 3</mat-list-item>

</mat-list>

<mat-list>

  <mat-list-item>

    <mat-icon mat-list-icon>home</mat-icon>

    <p mat-line>Item com ícone 1</p>

  </mat-list-item>

  <mat-list-item>

    <mat-icon mat-list-icon>cloud</mat-icon>

    <p mat-line>Item com ícone 2</p>

  </mat-list-item>

  <mat-list-item>

    <mat-icon mat-list-icon>favorite</mat-icon>

    <p mat-line>Item com ícone 3</p>

  </mat-list-item>

</mat-list>

<mat-list>

  <mat-list-item>

    <p mat-line>Item com divisor 1</p>

  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>

    <p mat-line>Item com divisor 2</p>

  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>

    <p mat-line>Item com divisor 3</p>

  </mat-list-item>

  <mat-divider></mat-divider>

</mat-list>
